{% extends "layouts/base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.palinPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        <button type="submit">Enregistrer le nouveau mot de passe</button>
    {{ form_end(form) }}
{% endblock %}