{% extends "layouts/base.html.twig" %}

{%  block title %}Hello UserController!{% endblock %}

{% block body %}
    {{ form_start(userForm) }}
    <div class="row mt-4 align-items-end justify-content-start">
        <div class="col-12 col-sm">
            {{ form_row(userForm.lastName) }}
        </div>
        <div class="col-12 col-md-2 p-md-0">
            <button type-"submit" class="btn research mb-3">Recherche</button>
        </div>
        <div class="col addUser p-md-0">
            <a href="{{ path('app_register') }}" class="btn addUserButton mb-3"><i class="fas fa-plus me-2"></i>Ajouter un utilisateur</a>
        </div>
    </div>
    {{ form_end(userForm) }}
    <h1 class="my-5">Liste des utilisateurs</h1>
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">consulter</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row" class="align-middle">{{ user.id }}</th>
                    <td class="align-middle">{{ user.lastName }}</td>
                    <td class="align-middle">{{ user.firstName }}</td>
                    <td class="align-middle"><a href="#"><i class="far fa-eye" title="consulter"></i></td></a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
