{% extends "layouts/base.html.twig" %}

{% block body %}
<div class="userProfile row flex-column align-items-center">
    <h1 class="my-5 text-center col">{{ user.lastName }} {{ user.firstName }}</h1>
    <ul class="userField list-group col-sm-8 ps-3">
        <li class="list-group-item m-1"><span class="w-25 d-inline-block">Nom:</span> {{ user.lastName }}</li>
        <li class="list-group-item m-1"><span class="w-25 d-inline-block">Prénom:</span> {{ user.firstName }}</li>
        <li class="list-group-item m-1"><span class="w-25 d-inline-block">Email:</span> {{ user.email }}</li>
        <li class="list-group-item m-1"><span class="w-25 d-inline-block">Rôle:</span> 
            {% for role in user.roles %}
                {% if role == 'ROLE_ADMIN' %}
                    Administrateur
                {% elseif role == 'ROLE_COLL'%}
                    Collaborateur
                {% endif %}
            {% endfor %}
        </li>
    </ul>
    <div class="col-9 col-sm-8 mt-3 ps-3 text-center cta">
        <a href="{{ path('app_user_edit', {id: user.id}) }}" class="btn m-1">Modifier</a>
        <a href="{{ path('app_user_delete', {id: user.id}) }}" class="btn m-1">Supprimer</a>
        <a href="{{ path('app_user_new_password', {id: user.id}) }}" class="btn m-1">Nouveau mot de passe</a>
    </div>
</div>
{% endblock %}